@model MyClass.Model.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 ">
                        <strong>Chi tiet danh mục sản phẩm</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Edit","Category", new { id = Model.Id }) " class="btn btn-sm btn-info"> <i class="fas fa-edit">Edit</i></a>
                        <a href="@Url.Action("Index", "Category") " class="btn btn-sm btn-success"> <i class="fas fa-backspace"></i> Back to list</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Slug)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Slug)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ParentId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ParentId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Oders)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Oders)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MetaDesc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MetaDesc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MetaKey)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MetaKey)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreateAt)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreateAt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UpdateBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UpdateBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UpdateAt)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UpdateAt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                </dl>
            </div>

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
